* {
    margin: 0;
  }

.container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: start;
  width: 40vh;
  height: 70vh;
  background-color: #65d3c1;
}

h3 {
    font-family: "Poppins", sans-serif;
    margin: 10vh 2vh;
    color: #fff;
    align-self: center;
  }

.plane {
  width: 38vh;
  height: 30vh;
  align-self: self-start;
  align-self: center;
}

.logof5 {
    align-self:last baseline;
    align-self: center;
    margin-bottom: 6vh;
}
